################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Radin.Fraud.NewSoloution/Radin.Fraud.Identity/bin/Debug/net10.0
/Radin.Fraud.NewSoloution/Radin.Fraud.Identity/obj
/Radin.Fraud.NewSoloution/Radin.Fraud.NewSoloution.AppHost/obj
/Radin.Fraud.NewSoloution/Radin.Fraud.NewSoloution.ServiceDefaults/obj
/Radin.Fraud.NewSoloution/.vs/Radin.Fraud.NewSoloution.slnx
/Radin.Fraud.NewSoloution/Radin.Fraud.NewSoloution.ServiceDefaults/bin/Debug/net10.0
/Radin.Fraud.NewSoloution/MIgration.Identity.SQL/obj
/Radin.Fraud.NewSoloution/BackEndInfrastructure/bin/Debug/net10.0/
/Radin.Fraud.NewSoloution/BackEndInfrastructure/obj
